- class_map = {'notice' => 'success', 'info' => 'info'}
- flash.each do |name, msg|
  - next unless name == 'alert' || name == 'notice' || name == 'info'
  .alert.fade.show{ class: "alert-#{class_map[name] || 'warning'}" }
    .container
      - if name == 'notice'
        = fa_icon('check', class: 'flash-success')
      - elsif name == 'info'
        = fa_icon('info-circle', class: 'flash-info')
      - else
        = fa_icon('warning', class: 'flash-error')
      = msg
      %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss
    